li{
    list-style: none;
}
li>p{
    margin-top: 5px;
    margin-bottom: 5px;
}
#profile{
    flex:3;
    font-size: small;
    background-color: #CCC;
}
.profile-title{
    font-size: 25px;
    font-weight: bold;
}
.profile-list{
    weight:100%;
    padding: 5px 5%;
    box-sizing: border-box;
}
.profile-picture{
    width: 100%;
    /*height: 200px;*/
}
.profile-logo{
    width: 50%;
}
.profile-entry{
    display: flex;
}
.profile-left{
    font-weight: bold;
    margin-right: auto;
}
.profile-right{
    margin-left: auto;
}